a{
    color: blue;
    text-decoration:none;
    
}

a:hover{
    text-decoration-line:underline ;
}

p{
    color:green ;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: red;
}

button{
    color: aliceblue;
    background-color: black;
    border: 1px dashed black;
    transition: 0.3s;
    cursor: pointer;
}

button:hover{
    color: black;
    background-color: aliceblue;
}

button:active{
    background-color: orange;
}