p{
                color: rgb(148, 7, 87);
                font-size: large;
            }

            h1{
                text-align: center;
                color: brown;
                background-color: rgb(174, 163, 147);

            }
            h2{
                font-size: small;
                text-align: center;
                color: rgb(178, 32, 76);
                background-color: rgb(134, 107, 79);
            }
            ol{
                font-size: large;
                color: rgb(55, 133, 64);
                background-color: rgb(80, 75, 78);
            }
            body{
                background-color: rgb(88, 114, 114);
            }