*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 20px;
    height: 90vh;
    width: 1000px;

}

.child {
    background-color: blue;
    border-radius: 10px;
}

.child:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
}

.child:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 1;
}

.child:nth-child(3) {
    grid-column: 6 / 8;
    grid-row: 1;
}

.child:nth-child(4) {
    grid-column: 8 / 11;
    grid-row: 1;
}

.child:nth-child(5) {
    grid-column: 11 / 13;
    grid-row: 1 / 3;
}

.child:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.child:nth-child(7) {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
}

.child:nth-child(8) {
    grid-column: 6 / 8;
    grid-row: 2 / 4;
}

.child:nth-child(9) {
    grid-column: 8 / 11;
    grid-row: 2 / 5;
}

.child:nth-child(10) {
    grid-column: 11 / 12;
    grid-row: 3 / 5;
}

.child:nth-child(11) {
    grid-column: 12 / 13;
    grid-row: 3 / 5;
}

.child:nth-child(12) {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}

.child:nth-child(13) {
    grid-column: 3 / 6;
    grid-row: 5 / 6;
}

.child:nth-child(14) {
    grid-column: 6 / 8;
    grid-row: 4 / 6;
}

.child:nth-child(15) {
    grid-column: 8 / 11;
    grid-row: 5 / 6;
}

.child:nth-child(16) {
    grid-column: 11 / 12;
    grid-row: 5 / 6;
}

.child:nth-child(17) {
    grid-column: 12 / 13;
    grid-row: 5 / 6;
}

.child:nth-child(18) {
    grid-column: 1 / 13;
    grid-row: 6;
}
