/* 3) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: absolute და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 230px-ით და მარჯვნიდან 140px-ით

4) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: fixed და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 50px-ით და მარცხნიდან 50px-ით.

5) შექმენით div, რომელსაც მიანიჭებთ ზომებს (500x500) და უკანა ფონად დაუყენებთ თქვენთვის სასურველ სურათს. გამოიყენეთ ბოლო გაკვეთილზე ნასწავლი თვისებები შესაბამისი შედეგის მისაღებად. --> */


#nini{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 230px;
    right: 140px;
    background-color: black;
}

#nini2{
    background-color: blue;
    width: 100px;
    height: 200px;
    position: fixed;
    top: 50px;
    left: 50px ;
}

#nini3{
    width: 500px;
    height: 500px;
    background-color: black;
    background-image: url(https://i.ytimg.com/vi/TB1xn7WOR30/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
}

