*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: pink;
    display: flex;
    
}

#gallery {
    background-color: #ff8a8a;
    /* padding: 30px; */
    height: 500px;
    width: 900;
    margin: 0 ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

 h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 28px;
}

.nini {
    width: 60px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ddd;
   
}
