.box1{
    color: aquamarine;
    text-align: center;
    text-decoration: wavy;
    font-size: small;
    text-transform: uppercase;
}

.box2{
     color: rgb(178, 99, 29);
    text-align: left;
    text-decoration: wavy;
    font-size: large;
    text-transform: lowercase;
}

.box3{
     color: rgb(156, 9, 109);
    text-align: center;
    text-decoration: underline;
    font-size: small;
    text-transform: uppercase;
    width: 30px;}