h1.nini1{
    color: aquamarine;
    background-color: black;
    font-size: large;
}

h1{
    color: blueviolet;
    background-color: blanchedalmond;
}

#ninii{
    color: azure;
    background-color: brown;
}

div{
    color: red;
    background-color: black;
}

.class1{
    color: blue;
    background-color: brown;
}

#byee{
    color: blueviolet;
    background-color: brown;
}

button{
    color: brown;
    background-color: blanchedalmond;
}