/* .nini1{
    color:red ;
    background-color: blueviolet;
}

#ninini{
    color: brown;
    background-color: black;
} */

#niii{
    color: brown;
    background-color: aquamarine;
}

#ninin{
    color: blueviolet;
    background-color: blanchedalmond;
}

.niniu{
    color: rgb(202, 22, 109);
    background-color: beige;
}
body{
    background-color: rgb(49, 113, 159);
}