/* div-ს უნდა ჰქონდეს მწვანე bakcgorund-ი.

div-ის ზღვარი(border) უნდა იყოს 2 პიქსელი ზომაში ტირეებით და წითელი.
დაშორება div-ის ზღვარსა და მის შიგთავს შორის უნდა იყოს ყველა მხირად 10 პიქსელი, ხოლო
 დაშორება პარაგრაფსა და ღილაკს შორის რომლებიც div-შია უნდა იყოს 30px(არ დაგავიწყდეთ,
  რომ პარაგრაფს ქარხნულად 16px აქვს დაშორება html-ის ელემენტებს შორის) */

div{
    width: 100px;
    height: 100px;
    border: 2px dashed red;
    padding: 10px;
    background-color: green;
}
p{
    padding: 30px;
}

button{
    padding: 30px;
    margin: 30px;
}