#form{
    width: 300px;
    height: 370px;
    background-color: rgb(225, 218, 210);
    text-align: center;
    border: 3px ridge blue;
}

#form input{
    width: 250px;
}

#form textarea{
    width: 250px;
    
}

#form button{
    width: 200px;
    background-color: rgb(13, 146, 229);
}

#form p{
    color: rgba(39, 38, 38, 0.337);
}

#form h2{
    color: rgb(120, 75, 19);
}