button{
    color: blue;
    background-color: blanchedalmond;

}

.nini{
    color: brown;
    background-color: #ff45ff;
}

#nini12{
    color: rgb(11, 78, 137);
    background-color: antiquewhite;
}

#nini123{
    color: rgb(55, 173, 63);
    background-color: antiquewhite;
}

#nini1234{
    color: rgb(149, 20, 134);
    background-color: antiquewhite;
}

#nini12345{
    color: aqua;
    background-color: antiquewhite;
}